@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<div class="dtopdown">
    <button
        @onclick="toggleUserMenu"
        @onfocusout="hideUserMenu"
        class="btn btn-secondary dropdown-toggle user-button">
        <i class="oi oi-person" />
    </button>
    <div class="dropdown-menu dropdown-menu-right @userMenuCssClass">
        <AuthorizeView>
            <Authorized>
                <button class="dropdown-item" @onclick="logout">Logout</button>
            </Authorized>
            <NotAuthorized>
                <a href="login" class="dropdown-item">Login</a>
                <a href="register" class="dropdown-item">Register</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

@code {
    private bool showUserMenu = false;

    private string userMenuCssClass => showUserMenu ? "show-menu" : string.Empty;

    private void toggleUserMenu()
    {
        showUserMenu = !showUserMenu;
    }

    private async Task hideUserMenu()
    {
        await Task.Delay(200);
        showUserMenu = false;
    }

    private async Task logout()
    {
        await LocalStorage.RemoveItemAsync("authToken");
        await AuthenticationStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("");
    }
}
