@inject NavigationManager NavigationManager

<button @onclick="goToHome" class="btn btn-outline-primary home-button">
    My Shop
</button>

@code {
    private void goToHome()
    {
        NavigationManager.NavigateTo("");
    }
}
